.devcontainer/
.vscode/
code/.ipynb_checkpoints/
code/__pycache__/
code/slurm/
manuscript/
misc/software/
misc/.ipynb_checkpoints/
data/literature_search/articles/
results/sdm/analysis_mod*/mi/
results_*/
.DS_Store
*.sif
*.tar.gz
